$color-nadeshiko = #dc9fb4 // 撫子
$color-momo = #f596aa // 桃
$color-sakura = #fedfe1 // 桜
$color-enji = #9f353a // 燕脂
$color-kurenai = #cb1b45 // 紅
$color-akabeni = #cb4042 // 赤紅
$color-shinsyu = #ab3b3a // 真朱
$color-haizakura = #d7c4bb // 灰桜
$color-ginsyu = #c73e3a // 銀朱
$color-sharegaki = #ffba84 // 洒落柿
$color-yamabuki = #ffb11b // 山吹
$color-tamago = #f9bf45 // 玉子
$color-kanzo = #fc9f4d // 萱草
$color-nae = #86c166 // 苗
$color-tokiwa = #1b813e // 常磐
$color-wakatake = #5dac81 // 若竹
$color-aotake = #00896c // 青竹
$color-seiji = #69b0ac // 青磁
$color-seiheki = #268785 // 青碧
$color-mizu = #81c7d4 // 水
$color-asagi = #33a6b8 // 浅葱
$color-sora = #58b2dc // 空
$color-chigusa = #3a8fb7 // 千草
$color-gunjyo = #51a8dd // 群青
$color-ruri = #005caf // 瑠璃
$color-konkikyo = #211e55 // 紺桔梗
$color-ouchi = #9b90c2 // 楝
$color-kikyo = #6a4c9c // 桔梗
$color-shion = #8f77b5 // 紫苑
$color-sumire = #66327c // 菫
$color-shironeri = #fcfaf2 // 白練
$color-shironezumi = #bdc0ba // 白鼠
$color-ginnezumi = #91989f // 銀鼠
$color-hai = #828282 // 灰
$color-nibi = #656765 // 鈍
$color-binrojizome = #3a3226 // 檳榔子染
$color-sumi = #1c1c1c // 墨
